@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9216%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9216%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9216%;
  --primary: 45.8268 67.9144% 63.3333%;
  --primary-foreground: 0 0% 6.6667%;
  --secondary: 240 4.7619% 95.8824%;
  --secondary-foreground: 240 10% 3.9216%;
  --muted: 240 4.7619% 95.8824%;
  --muted-foreground: 240 3.8251% 35.8824%;
  --accent: 210 40% 96.0784%;
  --accent-foreground: 240 10% 3.9216%;
  --destructive: 351.7303 123.6748% 40.5257%;
  --destructive-foreground: 0 0% 98.0392%;
  --border: 240 5.8824% 90%;
  --input: 240 5.8824% 90%;
  --ring: 46.9307 39.6078% 50%;
  --chart-1: 45.3237 90.8497% 70%;
  --chart-2: 45.8268 67.9144% 63.3333%;
  --chart-3: 46.7257 51.1312% 56.6667%;
  --chart-4: 46.9307 39.6078% 50%;
  --chart-5: 48.2759 39.3665% 43.3333%;
  --sidebar: 240 4.7619% 95.8824%;
  --sidebar-foreground: 240 10% 3.9216%;
  --sidebar-primary: 45.8268 67.9144% 63.3333%;
  --sidebar-primary-foreground: 0 0% 6.6667%;
  --sidebar-accent: 45.8268 67.9144% 63.3333%;
  --sidebar-accent-foreground: 0 0% 6.6667%;
  --sidebar-border: 240 5.8824% 90%;
  --sidebar-ring: 46.9307 39.6078% 50%;
  --font-sans: Inter;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

/* :root {
  --civ-box-shadow-container-l: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --civ-box-shadow-container-xl: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  --civ-box-shadow-container-xxl: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  --civ-box-shadow-focus-border: 0px 0px 0px 4px rgba(129, 37, 132, 1);
  --civ-box-shadow-selectable-m: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --civ-box-shadow-selectable-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --civ-tag-typography-xs-font-family: 'Montserrat', Helvetica;
  --civ-tag-typography-xs-font-size: 12px;
  --civ-tag-typography-xs-font-style: normal;
  --civ-tag-typography-xs-font-weight: 500;
  --civ-tag-typography-xs-letter-spacing: 0px;
  --civ-tag-typography-xs-line-height: 12px;
  --civ-tag-typography-xxs-font-family: 'Montserrat', Helvetica;
  --civ-tag-typography-xxs-font-size: 10px;
  --civ-tag-typography-xxs-font-style: normal;
  --civ-tag-typography-xxs-font-weight: 500;
  --civ-tag-typography-xxs-letter-spacing: 0px;
  --civ-tag-typography-xxs-line-height: 9px;
  --civ-typography-4xl-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-4xl-light-font-size: 48px;
  --civ-typography-4xl-light-font-style: normal;
  --civ-typography-4xl-light-font-weight: 300;
  --civ-typography-4xl-light-letter-spacing: 0px;
  --civ-typography-4xl-light-line-height: 56px;
  --civ-typography-5xl-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-5xl-bold-font-size: 72px;
  --civ-typography-5xl-bold-font-style: normal;
  --civ-typography-5xl-bold-font-weight: 700;
  --civ-typography-5xl-bold-letter-spacing: 0px;
  --civ-typography-5xl-bold-line-height: 80px;
  --civ-typography-l-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-l-bold-font-size: 18px;
  --civ-typography-l-bold-font-style: normal;
  --civ-typography-l-bold-font-weight: 700;
  --civ-typography-l-bold-letter-spacing: 0px;
  --civ-typography-l-bold-line-height: 24px;
  --civ-typography-l-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-l-light-font-size: 18px;
  --civ-typography-l-light-font-style: normal;
  --civ-typography-l-light-font-weight: 300;
  --civ-typography-l-light-letter-spacing: 0px;
  --civ-typography-l-light-line-height: 24px;
  --civ-typography-l-light-underline-font-family: 'Montserrat', Helvetica;
  --civ-typography-l-light-underline-font-size: 18px;
  --civ-typography-l-light-underline-font-style: normal;
  --civ-typography-l-light-underline-font-weight: 300;
  --civ-typography-l-light-underline-letter-spacing: 0px;
  --civ-typography-l-light-underline-line-height: 24px;
  --civ-typography-l-medium-font-family: 'Montserrat', Helvetica;
  --civ-typography-l-medium-font-size: 18px;
  --civ-typography-l-medium-font-style: normal;
  --civ-typography-l-medium-font-weight: 500;
  --civ-typography-l-medium-letter-spacing: 0px;
  --civ-typography-l-medium-line-height: 24px;
  --civ-typography-m-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-m-bold-font-size: 16px;
  --civ-typography-m-bold-font-style: normal;
  --civ-typography-m-bold-font-weight: 700;
  --civ-typography-m-bold-letter-spacing: 0px;
  --civ-typography-m-bold-line-height: 24px;
  --civ-typography-m-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-m-light-font-size: 16px;
  --civ-typography-m-light-font-style: normal;
  --civ-typography-m-light-font-weight: 300;
  --civ-typography-m-light-letter-spacing: 0px;
  --civ-typography-m-light-line-height: 24px;
  --civ-typography-m-light-underline-font-family: 'Montserrat', Helvetica;
  --civ-typography-m-light-underline-font-size: 16px;
  --civ-typography-m-light-underline-font-style: normal;
  --civ-typography-m-light-underline-font-weight: 300;
  --civ-typography-m-light-underline-letter-spacing: 0px;
  --civ-typography-m-light-underline-line-height: 24px;
  --civ-typography-m-medium-font-family: 'Montserrat', Helvetica;
  --civ-typography-m-medium-font-size: 16px;
  --civ-typography-m-medium-font-style: normal;
  --civ-typography-m-medium-font-weight: 500;
  --civ-typography-m-medium-letter-spacing: 0px;
  --civ-typography-m-medium-line-height: 24px;
  --civ-typography-s-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-s-bold-font-size: 14px;
  --civ-typography-s-bold-font-style: normal;
  --civ-typography-s-bold-font-weight: 700;
  --civ-typography-s-bold-letter-spacing: 0px;
  --civ-typography-s-bold-line-height: 20px;
  --civ-typography-s-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-s-light-font-size: 14px;
  --civ-typography-s-light-font-style: normal;
  --civ-typography-s-light-font-weight: 300;
  --civ-typography-s-light-letter-spacing: 0px;
  --civ-typography-s-light-line-height: 20px;
  --civ-typography-s-medium-font-family: 'Montserrat', Helvetica;
  --civ-typography-s-medium-font-size: 14px;
  --civ-typography-s-medium-font-style: normal;
  --civ-typography-s-medium-font-weight: 500;
  --civ-typography-s-medium-letter-spacing: 0px;
  --civ-typography-s-medium-line-height: 20px;
  --civ-typography-xl-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-xl-bold-font-size: 22px;
  --civ-typography-xl-bold-font-style: normal;
  --civ-typography-xl-bold-font-weight: 700;
  --civ-typography-xl-bold-letter-spacing: 0px;
  --civ-typography-xl-bold-line-height: 28px;
  --civ-typography-xl-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-xl-light-font-size: 22px;
  --civ-typography-xl-light-font-style: normal;
  --civ-typography-xl-light-font-weight: 300;
  --civ-typography-xl-light-letter-spacing: 0px;
  --civ-typography-xl-light-line-height: 28px;
  --civ-typography-xl-medium-font-family: 'Montserrat', Helvetica;
  --civ-typography-xl-medium-font-size: 22px;
  --civ-typography-xl-medium-font-style: normal;
  --civ-typography-xl-medium-font-weight: 500;
  --civ-typography-xl-medium-letter-spacing: 0px;
  --civ-typography-xl-medium-line-height: 28px;
  --civ-typography-xl-medium-underline-font-family: 'Montserrat', Helvetica;
  --civ-typography-xl-medium-underline-font-size: 22px;
  --civ-typography-xl-medium-underline-font-style: normal;
  --civ-typography-xl-medium-underline-font-weight: 500;
  --civ-typography-xl-medium-underline-letter-spacing: 0px;
  --civ-typography-xl-medium-underline-line-height: 28px;
  --civ-typography-xs-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-xs-bold-font-size: 12px;
  --civ-typography-xs-bold-font-style: normal;
  --civ-typography-xs-bold-font-weight: 700;
  --civ-typography-xs-bold-letter-spacing: 0px;
  --civ-typography-xs-bold-line-height: 16px;
  --civ-typography-xs-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-xs-light-font-size: 12px;
  --civ-typography-xs-light-font-style: normal;
  --civ-typography-xs-light-font-weight: 300;
  --civ-typography-xs-light-letter-spacing: 0px;
  --civ-typography-xs-light-line-height: 16px;
  --civ-typography-xs-medium-font-family: 'Montserrat', Helvetica;
  --civ-typography-xs-medium-font-size: 12px;
  --civ-typography-xs-medium-font-style: normal;
  --civ-typography-xs-medium-font-weight: 500;
  --civ-typography-xs-medium-letter-spacing: 0px;
  --civ-typography-xs-medium-line-height: 16px;
  --civ-typography-xxl-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxl-bold-font-size: 30px;
  --civ-typography-xxl-bold-font-style: normal;
  --civ-typography-xxl-bold-font-weight: 700;
  --civ-typography-xxl-bold-letter-spacing: 0px;
  --civ-typography-xxl-bold-line-height: 40px;
  --civ-typography-xxl-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxl-light-font-size: 30px;
  --civ-typography-xxl-light-font-style: normal;
  --civ-typography-xxl-light-font-weight: 300;
  --civ-typography-xxl-light-letter-spacing: 0px;
  --civ-typography-xxl-light-line-height: 40px;
  --civ-typography-xxs-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxs-bold-font-size: 10px;
  --civ-typography-xxs-bold-font-style: normal;
  --civ-typography-xxs-bold-font-weight: 700;
  --civ-typography-xxs-bold-letter-spacing: 0px;
  --civ-typography-xxs-bold-line-height: 14px;
  --civ-typography-xxs-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxs-light-font-size: 10px;
  --civ-typography-xxs-light-font-style: normal;
  --civ-typography-xxs-light-font-weight: 300;
  --civ-typography-xxs-light-letter-spacing: 0px;
  --civ-typography-xxs-light-line-height: 14px;
  --civ-typography-xxs-medium-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxs-medium-font-size: 10px;
  --civ-typography-xxs-medium-font-style: normal;
  --civ-typography-xxs-medium-font-weight: 500;
  --civ-typography-xxs-medium-letter-spacing: 0px;
  --civ-typography-xxs-medium-line-height: 14px;
  --civ-typography-xxxl-bold-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxxl-bold-font-size: 40px;
  --civ-typography-xxxl-bold-font-style: normal;
  --civ-typography-xxxl-bold-font-weight: 700;
  --civ-typography-xxxl-bold-letter-spacing: 0px;
  --civ-typography-xxxl-bold-line-height: 48px;
  --civ-typography-xxxl-light-font-family: 'Montserrat', Helvetica;
  --civ-typography-xxxl-light-font-size: 40px;
  --civ-typography-xxxl-light-font-style: normal;
  --civ-typography-xxxl-light-font-weight: 300;
  --civ-typography-xxxl-light-letter-spacing: 0px;
  --civ-typography-xxxl-light-line-height: 48px;
  --civaction-iconscolorprimarybg-hover: rgba(245, 244, 245, 1);
  --civaction-iconscolorprimarydisabled: rgba(204, 204, 204, 1);
  --civaction-iconscolorprimaryfg: rgba(247, 7, 89, 1);
  --civaction-iconscolorprimaryfocus: rgba(129, 37, 132, 1);
  --civaction-iconscolorsecondarybg: rgba(247, 7, 89, 1);
  --civaction-iconscolorsecondarybg-hover: rgba(211, 7, 76, 1);
  --civaction-iconscolorsecondarydisabled: rgba(204, 204, 204, 1);
  --civaction-iconscolorsecondaryfg: rgba(255, 255, 255, 1);
  --civaction-iconscolorsecondaryfocus: rgba(129, 37, 132, 1);
  --civaction-iconscolortertiarybg-hover: rgba(245, 244, 245, 1);
  --civaction-iconscolortertiarydisabled: rgba(204, 204, 204, 1);
  --civaction-iconscolortertiaryfg: rgba(102, 102, 102, 1);
  --civaction-iconscolortertiaryfocus: rgba(129, 37, 132, 1);
  --civbuttonscolorprimarybg: rgba(247, 7, 89, 1);
  --civbuttonscolorprimarybg-disabled: rgba(204, 204, 204, 1);
  --civbuttonscolorprimarybg-hover: rgba(211, 7, 76, 1);
  --civbuttonscolorprimaryfg: rgba(255, 255, 255, 1);
  --civbuttonscolorprimaryfocus: rgba(129, 37, 132, 1);
  --civbuttonscolorsecondarybg: rgba(255, 255, 255, 1);
  --civbuttonscolorsecondarybg-hover: rgba(247, 7, 89, 1);
  --civbuttonscolorsecondaryborder: rgba(247, 7, 89, 1);
  --civbuttonscolorsecondarydisabled: rgba(204, 204, 204, 1);
  --civbuttonscolorsecondaryfg: rgba(247, 7, 89, 1);
  --civbuttonscolorsecondaryfg-hover: rgba(255, 255, 255, 1);
  --civbuttonscolorsecondaryfocus: rgba(129, 37, 132, 1);
  --civbuttonscolortertiarybg: rgba(0, 0, 0, 0);
  --civbuttonscolortertiarybg-hover: rgba(245, 244, 245, 1);
  --civbuttonscolortertiaryborder-hover: rgba(247, 7, 89, 1);
  --civbuttonscolortertiarydisabled: rgba(204, 204, 204, 1);
  --civbuttonscolortertiaryfg: rgba(247, 7, 89, 1);
  --civbuttonscolortertiaryfocus: rgba(129, 37, 132, 1);
  --civcalendarboardcolorbg: rgba(255, 255, 255, 1);
  --civcalendarboardcolorfg: rgba(51, 51, 51, 1);
  --civcalendardaycoloractive: rgba(51, 51, 51, 1);
  --civcalendardaycolorbg: rgba(255, 255, 255, 1);
  --civcalendardaycolorbg-hover: rgba(245, 244, 245, 1);
  --civcalendardaycolorbg-range: rgba(215, 230, 204, 1);
  --civcalendardaycolorbg-selected: rgba(56, 128, 0, 1);
  --civcalendardaycolorbg-selected-hover: rgba(56, 128, 0, 1);
  --civcalendardaycolordisabled: rgba(153, 153, 153, 1);
  --civcalendardaycolorfg-selected: rgba(255, 255, 255, 1);
  --civcalendardaycolorfg-selected-hover: rgba(255, 255, 255, 1);
  --civcalendardaycolorfocus: rgba(129, 37, 132, 1);
  --civcalendardaycolorfree: rgba(56, 128, 0, 1);
  --civcalendardaycolorfull: rgba(213, 3, 88, 1);
  --civcalendardaycolorhalf: rgba(247, 165, 7, 1);
  --civcheckboxcolorbg: rgba(255, 255, 255, 1);
  --civcheckboxcolorborder-active: rgba(153, 153, 153, 1);
  --civcheckboxcolorborder-default: rgba(204, 204, 204, 1);
  --civcheckboxcolorborder-hover: rgba(153, 153, 153, 1);
  --civcheckboxcolordisabled: rgba(245, 244, 245, 1);
  --civcheckboxcolorerror-bg: rgba(255, 235, 237, 1);
  --civcheckboxcolorerror-fg: rgba(213, 3, 88, 1);
  --civcheckboxcolorfg-default: rgba(51, 51, 51, 1);
  --civcheckboxcolorfg-disabled: rgba(153, 153, 153, 1);
  --civcheckboxcolorfg-selected: rgba(247, 7, 89, 1);
  --civcheckboxcolorfg-weak: rgba(102, 102, 102, 1);
  --civcheckboxcolorfocus: rgba(129, 37, 132, 1);
  --civcheckboxcolorsuccess: rgba(56, 128, 0, 1);
  --civcheckboxcolorwarning: rgba(251, 213, 58, 1);
  --civcolorratebad: rgba(213, 3, 88, 1);
  --civcolorrateexcellent: rgba(53, 163, 66, 1);
  --civcolorrategood: rgba(133, 173, 51, 1);
  --civcolorratenormal: rgba(247, 165, 7, 1);
  --civcolorrateregular: rgba(229, 89, 66, 1);
  --civcolorselectablesprimarydefault: rgba(247, 7, 89, 1);
  --civcolorselectablesprimaryhover: rgba(211, 7, 76, 1);
  --civcolorselectablesprimaryon-default: rgba(255, 255, 255, 1);
  --civcolorselectablessecondarydefault: rgba(255, 255, 255, 1);
  --civcolorselectablessecondaryhover: rgba(247, 7, 89, 1);
  --civcolorselectablessecondaryon-default: rgba(247, 7, 89, 1);
  --civcolorselectablessecondaryon-hover: rgba(255, 255, 255, 1);
  --civcolorselectablestertiarydefault: rgba(0, 0, 0, 0);
  --civcolorselectablestertiaryhover: rgba(245, 244, 245, 1);
  --civcolorselectablestertiaryon-default: rgba(247, 7, 89, 1);
  --civcolorstatesactive: rgba(51, 51, 51, 1);
  --civcolorstatesdisabled: rgba(204, 204, 204, 1);
  --civcolorstateserror: rgba(213, 3, 88, 1);
  --civcolorstateserror-bg: rgba(255, 235, 237, 1);
  --civcolorstatesfocus: rgba(129, 37, 132, 1);
  --civcolorstateshover: rgba(211, 7, 76, 1);
  --civcolorstateshover-secondary: rgba(247, 7, 89, 1);
  --civcolorstatesinfo: rgba(254, 233, 189, 1);
  --civcolorstatessuccess: rgba(56, 128, 0, 1);
  --civcolorstateswarning: rgba(251, 213, 58, 1);
  --civcoloruseadvantage: rgba(56, 128, 0, 1);
  --civcolorusebg: rgba(255, 255, 255, 1);
  --civcolorusebg-cloudy: rgba(245, 244, 245, 1);
  --civcolorusefg: rgba(51, 51, 51, 1);
  --civcolorusefg-weak: rgba(102, 102, 102, 1);
  --civcolorusefg-weaker: rgba(153, 153, 153, 1);
  --civcoloruseline: rgba(153, 153, 153, 1);
  --civcoloruseline-weak: rgba(204, 204, 204, 1);
  --civcoloruseprimary: rgba(247, 7, 89, 1);
  --civformcolorbg: rgba(255, 255, 255, 1);
  --civformcolorfg-default: rgba(51, 51, 51, 1);
  --civheaderactioncoloractive: rgba(247, 7, 89, 1);
  --civheaderactioncoloractive-bg: rgba(255, 255, 255, 1);
  --civheaderactioncolorbg: rgba(247, 7, 89, 1);
  --civheaderactioncolorbg-hover: rgba(211, 7, 76, 1);
  --civheaderactioncolorfg: rgba(255, 255, 255, 1);
  --civheadercolorbg: rgba(247, 7, 89, 1);
  --civradiobuttoncolorbg: rgba(255, 255, 255, 1);
  --civradiobuttoncolorborder-active: rgba(153, 153, 153, 1);
  --civradiobuttoncolorborder-default: rgba(204, 204, 204, 1);
  --civradiobuttoncolorborder-hover: rgba(153, 153, 153, 1);
  --civradiobuttoncolordisabled: rgba(245, 244, 245, 1);
  --civradiobuttoncolorerror-bg: rgba(255, 235, 237, 1);
  --civradiobuttoncolorerror-fg: rgba(213, 3, 88, 1);
  --civradiobuttoncolorfg-default: rgba(247, 7, 89, 1);
  --civradiobuttoncolorfg-disabled: rgba(153, 153, 153, 1);
  --civradiobuttoncolorfg-hover: rgba(245, 244, 245, 1);
  --civradiobuttoncolorfg-text: rgba(51, 51, 51, 1);
  --civradiobuttoncolorfg-weak: rgba(102, 102, 102, 1);
  --civradiobuttoncolorfocus: rgba(129, 37, 132, 1);
  --civradiobuttoncolorsuccess: rgba(56, 128, 0, 1);
  --civradiobuttoncolorwarning: rgba(251, 213, 58, 1);
  --civselectcolorbg: rgba(255, 255, 255, 1);
  --civselectcolorbg-hover: rgba(245, 244, 245, 1);
  --civselectcolorborder-active: rgba(153, 153, 153, 1);
  --civselectcolorborder-default: rgba(204, 204, 204, 1);
  --civselectcolorborder-hover: rgba(153, 153, 153, 1);
  --civselectcolordisabled: rgba(245, 244, 245, 1);
  --civselectcolorerror-bg: rgba(255, 235, 237, 1);
  --civselectcolorerror-fg: rgba(213, 3, 88, 1);
  --civselectcolorfg-active: rgba(247, 7, 89, 1);
  --civselectcolorfg-default: rgba(153, 153, 153, 1);
  --civselectcolorfg-disabled: rgba(153, 153, 153, 1);
  --civselectcolorfg-text: rgba(51, 51, 51, 1);
  --civselectcolorfg-weak: rgba(102, 102, 102, 1);
  --civselectcolorfocus: rgba(129, 37, 132, 1);
  --civselectcolorsuccess: rgba(56, 128, 0, 1);
  --civselectcolorwarning: rgba(251, 213, 58, 1);
  --civswitchcolorbg: rgba(255, 255, 255, 1);
  --civswitchcolorborder-active: rgba(153, 153, 153, 1);
  --civswitchcolorborder-default: rgba(204, 204, 204, 1);
  --civswitchcolorborder-hover: rgba(153, 153, 153, 1);
  --civswitchcolordisabled: rgba(245, 244, 245, 1);
  --civswitchcolorerror-bg: rgba(255, 235, 237, 1);
  --civswitchcolorerror-fg: rgba(213, 3, 88, 1);
  --civswitchcolorfg-active: rgba(247, 7, 89, 1);
  --civswitchcolorfg-default: rgba(153, 153, 153, 1);
  --civswitchcolorfg-disabled: rgba(153, 153, 153, 1);
  --civswitchcolorfg-hover: rgba(245, 244, 245, 1);
  --civswitchcolorfg-text: rgba(51, 51, 51, 1);
  --civswitchcolorfg-weak: rgba(102, 102, 102, 1);
  --civswitchcolorfocus: rgba(129, 37, 132, 1);
  --civswitchcolorsuccess: rgba(56, 128, 0, 1);
  --civswitchcolorwarning: rgba(251, 213, 58, 1);
  --civtabbarcoloractive: rgba(247, 7, 89, 1);
  --civtabbarcolorbg-notification-secondary: rgba(255, 255, 255, 1);
  --civtabbarcolorfg-notification-primary: rgba(255, 255, 255, 1);
  --civtabbarcolorinactive: rgba(102, 102, 102, 1);
  --civtextfieldcolorbg: rgba(255, 255, 255, 1);
  --civtextfieldcolorborder-active: rgba(153, 153, 153, 1);
  --civtextfieldcolorborder-default: rgba(204, 204, 204, 1);
  --civtextfieldcolorborder-hover: rgba(153, 153, 153, 1);
  --civtextfieldcolordisabled: rgba(245, 244, 245, 1);
  --civtextfieldcolorerror-bg: rgba(255, 235, 237, 1);
  --civtextfieldcolorerror-fg: rgba(213, 3, 88, 1);
  --civtextfieldcolorfg-default: rgba(51, 51, 51, 1);
  --civtextfieldcolorfg-disabled: rgba(153, 153, 153, 1);
  --civtextfieldcolorfg-weak: rgba(102, 102, 102, 1);
  --civtextfieldcolorfocus: rgba(129, 37, 132, 1);
  --civtextfieldcolorsuccess: rgba(56, 128, 0, 1);
  --civtextfieldcolorwarning: rgba(251, 213, 58, 1);
  --core-box-shadow-blurry-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --core-box-shadow-blurry-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-blurry-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-blurry-3: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-blurry-4: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-blurry-5: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-blurry-6: 0px 4px 64px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-edgy-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --core-box-shadow-edgy-1: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-edgy-2: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  --core-box-shadow-edgy-3: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  --corecolorgreen-100: rgba(224, 235, 204, 1);
  --corecolorgreen-200: rgba(215, 230, 204, 1);
  --corecolorgreen-400: rgba(133, 173, 51, 1);
  --corecolorgreen-500: rgba(102, 153, 0, 1);
  --corecolorgreen-600: rgba(56, 128, 0, 1);
  --corecolorgreenblue-500: rgba(53, 163, 66, 1);
  --corecolorgreenblue-600: rgba(0, 128, 0, 1);
  --corecolormagenta-300: rgba(231, 102, 189, 1);
  --corecolormagenta-500: rgba(215, 0, 145, 1);
  --corecolorneutral-100: rgba(255, 255, 255, 1);
  --corecolorneutral-200: rgba(245, 244, 245, 1);
  --corecolorneutral-300: rgba(204, 204, 204, 1);
  --corecolorneutral-500: rgba(153, 153, 153, 1);
  --corecolorneutral-600: rgba(102, 102, 102, 1);
  --corecolorneutral-800: rgba(51, 51, 51, 1);
  --corecolorneutral-900: rgba(33, 32, 32, 1);
  --corecolorpink-100: rgba(253, 205, 222, 1);
  --corecolorpink-200: rgba(252, 156, 189, 1);
  --corecolorpink-300: rgba(250, 106, 155, 1);
  --corecolorpink-500: rgba(247, 7, 89, 1);
  --corecolorpink-600: rgba(211, 7, 76, 1);
  --corecolorpurple-500: rgba(129, 37, 132, 1);
  --corecolorred-100: rgba(255, 235, 237, 1);
  --corecolorred-500: rgba(213, 3, 88, 1);
  --corecolortransparent: rgba(0, 0, 0, 0);
  --corecoloryellow-orange100: rgba(254, 233, 189, 1);
  --corecoloryellow-orange300: rgba(251, 213, 58, 1);
  --corecoloryellow-orange500: rgba(247, 165, 7, 1);
  --corecoloryellow-orange900: rgba(229, 89, 66, 1);
  --eightshapes-spec-annotations-marker-font-family: 'Inter', Helvetica;
  --eightshapes-spec-annotations-marker-font-size: 14px;
  --eightshapes-spec-annotations-marker-font-style: normal;
  --eightshapes-spec-annotations-marker-font-weight: 700;
  --eightshapes-spec-annotations-marker-letter-spacing: 0px;
  --eightshapes-spec-annotations-marker-line-height: normal;
  --eightshapes-spec-annotations-marker-small-font-family: 'Inter', Helvetica;
  --eightshapes-spec-annotations-marker-small-font-size: 12px;
  --eightshapes-spec-annotations-marker-small-font-style: normal;
  --eightshapes-spec-annotations-marker-small-font-weight: 700;
  --eightshapes-spec-annotations-marker-small-letter-spacing: 0px;
  --eightshapes-spec-annotations-marker-small-line-height: normal;
  --eightshapes-spec-annotations-space-pill-font-family: 'Inter', Helvetica;
  --eightshapes-spec-annotations-space-pill-font-size: 11px;
  --eightshapes-spec-annotations-space-pill-font-style: normal;
  --eightshapes-spec-annotations-space-pill-font-weight: 400;
  --eightshapes-spec-annotations-space-pill-letter-spacing: 0px;
  --eightshapes-spec-annotations-space-pill-line-height: normal;
  --eightshapes-spec-annotations-space-size-font-family: 'Inter', Helvetica;
  --eightshapes-spec-annotations-space-size-font-size: 12px;
  --eightshapes-spec-annotations-space-size-font-style: normal;
  --eightshapes-spec-annotations-space-size-font-weight: 700;
  --eightshapes-spec-annotations-space-size-letter-spacing: 0px;
  --eightshapes-spec-annotations-space-size-line-height: normal;
  --eightshapes-spec-heading-section-font-family: 'Inter', Helvetica;
  --eightshapes-spec-heading-section-font-size: 48px;
  --eightshapes-spec-heading-section-font-style: normal;
  --eightshapes-spec-heading-section-font-weight: 700;
  --eightshapes-spec-heading-section-letter-spacing: 0px;
  --eightshapes-spec-heading-section-line-height: normal;
  --eightshapes-spec-heading-subsection-font-family: 'Inter', Helvetica;
  --eightshapes-spec-heading-subsection-font-size: 36px;
  --eightshapes-spec-heading-subsection-font-style: normal;
  --eightshapes-spec-heading-subsection-font-weight: 700;
  --eightshapes-spec-heading-subsection-letter-spacing: 0px;
  --eightshapes-spec-heading-subsection-line-height: normal;
  --eightshapes-spec-heading-subsectionmetadata-font-family: 'Inter', Helvetica;
  --eightshapes-spec-heading-subsectionmetadata-font-size: 16px;
  --eightshapes-spec-heading-subsectionmetadata-font-style: normal;
  --eightshapes-spec-heading-subsectionmetadata-font-weight: 400;
  --eightshapes-spec-heading-subsectionmetadata-letter-spacing: 0px;
  --eightshapes-spec-heading-subsectionmetadata-line-height: normal;
  --eightshapes-spec-heading-title-font-family: 'Inter', Helvetica;
  --eightshapes-spec-heading-title-font-size: 64px;
  --eightshapes-spec-heading-title-font-style: normal;
  --eightshapes-spec-heading-title-font-weight: 700;
  --eightshapes-spec-heading-title-letter-spacing: 0px;
  --eightshapes-spec-heading-title-line-height: normal;
  --eightshapes-spec-table-column-header-font-family: 'Inter', Helvetica;
  --eightshapes-spec-table-column-header-font-size: 12px;
  --eightshapes-spec-table-column-header-font-style: normal;
  --eightshapes-spec-table-column-header-font-weight: 700;
  --eightshapes-spec-table-column-header-letter-spacing: 0px;
  --eightshapes-spec-table-column-header-line-height: normal;
  --eightshapes-spec-text-attribute-property-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-attribute-property-font-size: 12px;
  --eightshapes-spec-text-attribute-property-font-style: normal;
  --eightshapes-spec-text-attribute-property-font-weight: 400;
  --eightshapes-spec-text-attribute-property-letter-spacing: 0px;
  --eightshapes-spec-text-attribute-property-line-height: normal;
  --eightshapes-spec-text-attribute-value-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-attribute-value-font-size: 12px;
  --eightshapes-spec-text-attribute-value-font-style: normal;
  --eightshapes-spec-text-attribute-value-font-weight: 400;
  --eightshapes-spec-text-attribute-value-letter-spacing: 0px;
  --eightshapes-spec-text-attribute-value-line-height: normal;
  --eightshapes-spec-text-dependency-value-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-dependency-value-font-size: 12px;
  --eightshapes-spec-text-dependency-value-font-style: normal;
  --eightshapes-spec-text-dependency-value-font-weight: 700;
  --eightshapes-spec-text-dependency-value-letter-spacing: 0px;
  --eightshapes-spec-text-dependency-value-line-height: normal;
  --eightshapes-spec-text-element-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-element-font-size: 16px;
  --eightshapes-spec-text-element-font-style: normal;
  --eightshapes-spec-text-element-font-weight: 700;
  --eightshapes-spec-text-element-letter-spacing: 0px;
  --eightshapes-spec-text-element-line-height: normal;
  --eightshapes-spec-text-element-type-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-element-type-font-size: 16px;
  --eightshapes-spec-text-element-type-font-style: normal;
  --eightshapes-spec-text-element-type-font-weight: 400;
  --eightshapes-spec-text-element-type-letter-spacing: 0px;
  --eightshapes-spec-text-element-type-line-height: normal;
  --eightshapes-spec-text-label-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-label-font-size: 24px;
  --eightshapes-spec-text-label-font-style: normal;
  --eightshapes-spec-text-label-font-weight: 700;
  --eightshapes-spec-text-label-letter-spacing: 0px;
  --eightshapes-spec-text-label-line-height: normal;
  --eightshapes-spec-text-label-metadata-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-label-metadata-font-size: 18px;
  --eightshapes-spec-text-label-metadata-font-style: normal;
  --eightshapes-spec-text-label-metadata-font-weight: 400;
  --eightshapes-spec-text-label-metadata-letter-spacing: 0px;
  --eightshapes-spec-text-label-metadata-line-height: normal;
  --eightshapes-spec-text-message-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-message-font-size: 12px;
  --eightshapes-spec-text-message-font-style: normal;
  --eightshapes-spec-text-message-font-weight: 400;
  --eightshapes-spec-text-message-letter-spacing: 0px;
  --eightshapes-spec-text-message-line-height: normal;
  --eightshapes-spec-text-style-value-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-style-value-font-size: 12px;
  --eightshapes-spec-text-style-value-font-style: normal;
  --eightshapes-spec-text-style-value-font-weight: 400;
  --eightshapes-spec-text-style-value-letter-spacing: 0px;
  --eightshapes-spec-text-style-value-line-height: normal;
  --eightshapes-spec-text-token-value-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-token-value-font-size: 12px;
  --eightshapes-spec-text-token-value-font-style: normal;
  --eightshapes-spec-text-token-value-font-weight: 400;
  --eightshapes-spec-text-token-value-letter-spacing: 0px;
  --eightshapes-spec-text-token-value-line-height: normal;
  --eightshapes-spec-text-variable-collection-value-font-family:
    'Inter', Helvetica;
  --eightshapes-spec-text-variable-collection-value-font-size: 12px;
  --eightshapes-spec-text-variable-collection-value-font-style: normal;
  --eightshapes-spec-text-variable-collection-value-font-weight: 400;
  --eightshapes-spec-text-variable-collection-value-letter-spacing: 0px;
  --eightshapes-spec-text-variable-collection-value-line-height: normal;
  --eightshapes-spec-text-variable-value-font-family: 'Inter', Helvetica;
  --eightshapes-spec-text-variable-value-font-size: 12px;
  --eightshapes-spec-text-variable-value-font-style: normal;
  --eightshapes-spec-text-variable-value-font-weight: 400;
  --eightshapes-spec-text-variable-value-letter-spacing: 0px;
  --eightshapes-spec-text-variable-value-line-height: normal;
} */

.dark {
  --background: 0 0% 3.9216%;
  --foreground: 0 0% 98.0392%;
  --card: 0 0% 6.6667%;
  --card-foreground: 0 0% 98.0392%;
  --popover: 0 0% 6.6667%;
  --popover-foreground: 0 0% 98.0392%;
  --primary: 45.3237 90.8497% 70%;
  --primary-foreground: 0 0% 6.6667%;
  --secondary: 240 3.7037% 15.8824%;
  --secondary-foreground: 0 0% 98.0392%;
  --muted: 240 3.7037% 15.8824%;
  --muted-foreground: 240 5.0279% 64.902%;
  --accent: 0 0% 20%;
  --accent-foreground: 0 0% 96.0784%;
  --destructive: 0 100% 27.2549%;
  --destructive-foreground: 0 0% 98.0392%;
  --border: 240 3.7037% 15.8824%;
  --input: 240 3.7037% 15.8824%;
  --ring: 45.3237 90.8497% 70%;
  --chart-1: 45.3237 90.8497% 70%;
  --chart-2: 45.8268 67.9144% 63.3333%;
  --chart-3: 46.7257 51.1312% 56.6667%;
  --chart-4: 46.9307 39.6078% 50%;
  --chart-5: 48.2759 39.3665% 43.3333%;
  --sidebar: 0 0% 6.6667%;
  --sidebar-foreground: 0 0% 98.0392%;
  --sidebar-primary: 45.3237 90.8497% 70%;
  --sidebar-primary-foreground: 0 0% 6.6667%;
  --sidebar-accent: 45.3237 90.8497% 70%;
  --sidebar-accent-foreground: 0 0% 6.6667%;
  --sidebar-border: 240 3.7037% 15.8824%;
  --sidebar-ring: 45.3237 90.8497% 70%;
  --font-sans: Inter;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

body {
  letter-spacing: var(--tracking-normal);
}
